<h2>Edit Permissions</h2>
<div class="back-button" routerLink="/">
    <i class="material-icons">arrow_back</i><span>Go back</span>
</div>

<div class="permissions-form-container">
    <form [formGroup]="assignPermissionsForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="code">Code</label>
            <input id="code" name="code" type="checkbox" formControlName="code">
        </div>
        <div>
            <label for="description">Description</label>
            <input id="description" name="description" type="checkbox" formControlName="description">
        </div>
        <button class="button-primary" type="submit">Save</button>
    </form>
</div>