<button type="button" routerLink="/">back</button>

<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" formControlName="firstName">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" formControlName="lastName">
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
    </div>
    <div>
        <label for="status">Status</label>
        <select id="status" type="text" formControlName="status">
            <option *ngFor="let status of statusList" [ngValue]="status">{{ status }}</option>
        </select>
    </div>
    <button class="button" type="submit" [disabled]="inputFieldsValid">Save</button>
</form>